.featuredSection {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f9f9f9;
}

.sectionContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  max-width: 1200px;
  transition: all 0.6s ease;
}
.sectionTitle{
  font-size: 90px;
  color: #0f1c2ed6;
  font-family: sans-serif;
}
.imageButton {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  background: #facc15;
  color: #0f172a;
  padding: 0.5rem 1.2rem;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.imageButton:hover {
  background: #eab308;
}
.textColumn {
  flex: 1;
  padding: 20px;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s ease;
}

.imageColumn {
  flex: 1;
  text-align: center;
  opacity: 1;
  transform: translateX(0);
  transition: all 0.6s ease;
}

.productImage {
  width: 300px;
  height: 480px;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* وقتی انیمیشن فعاله */
.animate .textColumn {
  opacity: 0;
  transform: translateX(100px); /* از راست میره */
}

.animate .imageColumn {
  opacity: 0;
  transform: translateX(-100px); /* از چپ میره */
}
@media (max-width: 800px) {
  .sectionContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .imageColumn {
    flex-direction: column;
  }

  .sectionContainer{
    flex-direction: column;
  }

  .productImage {
    width: 200px;
    height: 320px;
  }
  .sectionTitle{
  font-size: 40px;
  }
}
