.header {
  background-image: transparent;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  transition: all 0.3s ease;
}

.header.scrolled {
backdrop-filter: blur(10px);
background-color: #1c2a3ab5;
  width: 80%;
  margin: 0px 10%;
  border-radius: 20px;
}

.headerContainer {
  display: flex;
  margin: 0rem 7rem;
  align-items: center;
  justify-content: space-between;
}

.headerLogo {
  align-items: center;
  display: flex;
}

.logoImg {
  padding-right: 2rem;
}

.headerLogo a {
  color: #fff;
  cursor: pointer;
  background: #e67e22;
  border: none;
  border-radius: 6px;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  transition: background 0.3s;
}

.navDesktop {
  display: flex;
  gap: 1.5rem;
}

.navDesktop a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  padding-bottom: 10px;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  border-bottom: 1px solid transparent;
}

.navDesktop a:hover {
  color: #f0a500;
  border-bottom: 1px solid #f0a500;
}

.navToggle {
  display: none;
  font-size: 1.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

.navMobile {
  flex-direction: column;
  background: #1c2a3a;
  padding: 1rem;
  border-radius: 20px;
  backdrop-filter: blur(10px);
  display: none;
}

.navMobile a {
  margin: 0.5rem 0;
  text-decoration: none;
  color: #fff;
}

.navMobile a:hover {
  color: #f0a500;
}

@media (max-width: 768px) {
  .navDesktop {
    display: none;
  }

  .navToggle {
    display: block;
  }

  .navMobile {
    display: flex;
  }

  .headerContainer {
    margin: 1rem 2rem;
  }
}